In [60]:
import os
os.environ["PATH"] += os.pathsep + 'C:/Program Files (x86)/Graphviz2.38/bin/'

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn import tree
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import RandomForestClassifier

from IPython.display import Image
import graphviz
import pydotplus 

pd.options.display.max_columns = 25

In [61]:
def binary_weather(df):
    if df['Events'] == 'clear':
        return 1
    return 0

In [62]:
df_austin = pd.read_csv("austin_weather.csv")

In [63]:
df_austin[['Events', 'Date']].groupby(['Events']).count()

                           Date
Events
                            903
Fog                          21
Fog , Rain                   14
Fog , Rain , Thunderstorm    33
Fog , Thunderstorm            1
Rain                        192
Rain , Snow                   1
Rain , Thunderstorm         137
Thunderstorm                 17

In [64]:
df_austin = df_austin[(df_austin.Events != 'Fog , Thunderstorm') & (df_austin.Events != 'Rain , Snow')]

In [65]:
df_austin['Events'].replace(' ', np.nan, inplace=True)
df_austin['Events'].fillna('clear', inplace=True)
df_austin['PrecipitationSumInches'].replace('T', 0, inplace=True)
df_austin.replace('-', np.nan, inplace=True)
df_austin.dropna(inplace=True)

In [66]:
df_austin['Binary'] = df_austin.apply(binary_weather, axis=1)

In [67]:
no_use = ["Date", "Events", "Binary"]
target = "Events"
features = [i for i in df_austin if i not in no_use]

In [69]:
df_austin.head()

,Date,TempHighF,TempAvgF,TempLowF,DewPointHighF,DewPointAvgF,DewPointLowF,HumidityHighPercent,HumidityAvgPercent,HumidityLowPercent,SeaLevelPressureHighInches,SeaLevelPressureAvgInches,SeaLevelPressureLowInches,VisibilityHighMiles,VisibilityAvgMiles,VisibilityLowMiles,WindHighMPH,WindAvgMPH,WindGustMPH,PrecipitationSumInches,Events,Binary
0,2013-12-21,74,60,45,67,49,43,93,75,57,29.86,29.68,29.59,10,7,2,20,4,31,0.46,"Rain , Thunderstorm",0
1,2013-12-22,56,48,39,43,36,28,93,68,43,30.41,30.13,29.87,10,10,5,16,6,25,0,clear,1
2,2013-12-23,58,45,32,31,27,23,76,52,27,30.56,30.49,30.41,10,10,10,8,3,12,0,clear,1
3,2013-12-24,61,46,31,36,28,21,89,56,22,30.56,30.45,30.3,10,10,7,12,4,20,0,clear,1
4,2013-12-25,58,50,41,44,40,36,86,71,56,30.41,30.33,30.27,10,10,7,10,2,16,0,clear,1

In [87]:
X_train, X_test, y_train, y_test = train_test_split(df_austin[features], df_austin['Binary'], random_state=0) 
tree_class = tree.DecisionTreeClassifier(
    random_state=42, max_depth=5, criterion='entropy', max_features=len(features)
)
tree_class.fit(X_train, y_train)
print("Правильность на обучающем наборе: {:.3f}".format(tree_class.score(X_train, y_train)))
print("Правильность на тестовом наборе: {:.3f}".format(tree_class.score(X_test, y_test)))

Правильность на обучающем наборе: 0.944
Правильность на тестовом наборе: 0.945

In [88]:
cross = cross_val_score(binary_tree_class, df_austin[features], df_austin['Binary'], cv=5)
print(cross)
print(np.mean(cross))

[0.90839695 0.94636015 0.90384615 0.94615385 0.92307692]
0.9255668045797026